game/images/
game/videos/
game/saves/
game/chache/
**.rpy.bak
**.bak
log.txt
game/cache/screens.rpyb
game/cache/bytecode-39.rpyb
.vscode/settings.json
Mind your School.docx
Plans.xlsm
Members/Members_*.csv
Members/alias.csv
Members/blacklist.txt
game/scripts/test.py
Test/**
